DATABASE_URL=postgresql://user:password@host:5432/dbname

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123

MONGO_URI=mongodb://mongo:27017
MONGO_URL=mongodb://mongo:27017
MONGO_DATABASE=transport
MONGO_COLLECTION=routes
